* {
  font-family: "Nunito Sans", sans-serif;
  color: var(--body-text);
  box-sizing: border-box;
  font-weight: 400;
  margin: 0px;
}

body {
  background-color: var(--bg_body);
}

button,
input,
.select-wrap,
select {
  border: 1px solid var(--lines-color);
  border-radius: 5px;
  background-color: var(--bg_default);
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
q,
strong {
  font-weight: 700;
}

.container {
  padding-inline: 4.5%;
}

header {
  font-size: 18px;
  padding: 25px 0px 20px 0px;
  display: flex;
  background-color: var(--bg_default);
  gap: 5px;
  box-shadow: 0px 0px 20px -6px var(--body-text);
}

header .title-text {
  padding-top: 5px;
  flex-grow: 1;
}

header .title-text a {
  font-weight: 700;
  color: var(--brand-primary);
  text-decoration: none;
}

.header-right {
  align-items: center;
}

.icon-button {
  padding: 5px 10px;
  font-weight: 700;
  display: flex;
  gap: 5px;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.icon-button:hover {
  background-color: var(--lines-color);
}

.image-container {
  width: 100%;
  height: 110px;
  background-color: var(--bg_default);
  position: relative;
  z-index: -10;
}

.welcome-banner {
  width: 100%;
  height: 4rem;
  position: relative;
  overflow: hidden;
}

.blue-triangle,
.green-triangle {
  height: 100%;
  position: absolute;
  top: 0;
  width: 90%;
}

.green-triangle {
  background-color: var(--brand-secondary);
  clip-path: polygon(100% 0%, 0% 0%, 100% 100%);
  right: 0;
}

.blue-triangle {
  background-image: linear-gradient(
    to right,
    var(--brand-primary),
    var(--brand-secondary)
  );
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  left: 0;
}

.text-overlay {
  margin-top: -20px;
  display: flex;
  justify-content: center;
  font-weight: 700;
}

.text-overlay div h1 {
  color: var(--brand-secondary);
  font-size: 21px;
  margin-bottom: -3px;
}

.text-overlay div h2 {
  font-weight: 400;
  font-size: 15.5px;
  color: var(--body-text);
}

#bottom-drawer {
  padding-bottom: 20px;
}

.card {
  /* width: 240px; */
  background-color: var(--bg_default);
  border: 1px solid rgba(0.86, 0.86, 0.86, 0.08);
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

.card .card-img {
  width: 100%;
  height: 135px;
  display: block;
  background-color: #ffffff;
}
.card .card-img img {
  width: 100%;
  height: 100%;
}

.card .card-content {
  padding: 15px;
  padding-inline: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card .card-title {
  font-size: 15px;
  font-weight: 700;
  overflow: inherit;
  text-overflow: inherit;
}

.card .card-caption {
  font-size: 12.5px;
  font-weight: 700;
  overflow: inherit;
  text-overflow: inherit;
}

.card .card-rating {
  padding-top: 30px;
}

.card .card-author {
  padding-top: 10px;
  color: gray;
  font-size: 13px;
}

.checked {
  color: #e49c24 !important;
}

#bottom-drawer {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0px;
  background-color: var(--bg_default);
  z-index: 1;
  box-shadow: -1px -2px 5px -3px rgba(0, 0, 0, 0.3);
  height: 25%;
  padding-top: 20px;
}

#bottom-drawer .item-container {
  display: flex;
  gap: 15px;
  /* flex-wrap: wrap; */
}

#bottom-drawer .card {
  width: 125px;
  height: 120px;
  border: none;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.1);
}

#bottom-drawer .card .card-img {
  height: 65px;
}

#bottom-drawer .card .card-content {
  padding: 5px 10px;
}

#bottom-drawer .card .card-rating {
  padding: 0px;
}

#drawer-title {
  font-weight: 700;
  margin: 0px;
  padding-bottom: 10px;
}

footer {
  padding-top: 30px;
  padding-bottom: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

footer h4 {
  background-color: inherit;
}

footer ion-icon {
  font-size: 25px;
  position: relative;
  top: 6px;
  color: var(--heart-color);
}

@media (max-width: 720px) {
  .icon-button {
    display: block;
    font-size: 0px;
    padding: 0px 10px;
  }

  .icon-button .icon {
    font-size: 16px;
    margin: 0px;
  }

  .welcome-banner {
    height: 25%;
  }

  .text-overlay {
    padding: 20px 4.5%;
  }
  .text-overlay div h1 {
    font-size: 18.5px;
  }

  .text-overlay div h2 {
    font-size: 13.8px;
  }

  .card {
    width: 100%;
  }
}
