.main-container {
  padding-top: 20px;
  margin: 0;
}

.content-actions {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: inherit;
  box-shadow: 0px 0px 13px -10px rgba(0, 0, 0, 0.8);
  border: 1px solid var(--lines-color);
  border-radius: 10px;
  overflow: hidden;
}

.icon-txt-bar {
  flex-basis: 70%;
  flex-grow: 1;
  color: var(--body-text);
  background-color: var(--bg_default);
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 17px;
}

.icon-txt-bar input {
  font-size: inherit;
  border: none;
  flex: 1;
  padding: 8px;
  outline: none;
}

.icon-txt-bar .icon {
  padding-left: 10px;
  cursor: pointer;
  font-weight: 200;
}

.select-wrap {
  padding: 5px 5px 5px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  border: none;
  border-left: 1px solid var(--lines-color);
  font-size: inherit;
  text-decoration: none;
}

.select-wrap label {
  font-size: 12px;
  padding: 2px 12px 0;
  font-weight: inherit;
}

.select-wrap input {
  font-size: 12px;
  text-transform: uppercase;
  padding: 2px 8px 0;
  text-transform: capitalize;
  font-weight: inherit;
}

select {
  border: 0px;
}

.content-title {
  padding: 18px 0px;
  font-size: 20.5px;
}

#item-amount {
  display: inline;
}

.item-container {
  padding-top: 15px;
  background-color: inherit;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 25px;
}

@media (max-width: 400px) {
  .select-wrap {
    border-left: 0px;
    border-top: 1px solid var(--lines-color);
    border-right: 1px solid var(--lines-color);
  }
  .select-wrap:last-child {
    border-right: 0px;
  }
}

@media (max-width: 720px) {
  .select-wrap:last-child {
    border-left: 0;
    border-top: 1px solid var(--lines-color);
  }
}
